{% extends 'testB/base.html' %}

{% block title %}
    <title>hello</title>
{% endblock title %}

<!--body -->
{% block content %}
  <h1>Heey..</h1>
  <div class="container">
    {% for p in post %}
      <div class="align-content-center">
          <h2>{{ p.title }}</h2>
            <p>author: {{ p.author }}</p>
        <p>{{ p.content }}</p>
      </div>
      <hr>
      {% endfor %}
  </div>
  
    <!-- <div>
        <div id="app">
            <h2>hi</h2>
            <hr>
            <p>[[ message ]]</p>
        </div>
        {{ word| json_script:"word" }}
          <script>
            var word = JSON.parse(document.getElementById('word').textContent);
            var app = new Vue({
                el: '#app',
                delimiters: ["[[","]]"],
                data: {
                  message: word,
                }
              })
          </script>
    </div> -->

{% endblock content %}