{% extends 'blog/base.html' %}
{% load static %}
{% load markdown_extra %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock style %}

{% block content %}
{% include "blog/nav.html" %}
<!-- Page Header -->
  <!-- <header class="masthead" style="background-image: url( {% static 'img/post-bg.jpg' %} )"> -->
    <header class="masthead" style="background-image: url(https://images.unsplash.com/photo-1595132169434-097c5ae1a145?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=200)">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <!--start-->
            <div class="post-heading">
              <!-- Title -->
              <h1>{{object.title}}</h1>
              <hr>
              <!-- Sub Heading -->
              <h2 class="subheading">{{object.description}}</h2>
              
              <!-- Posted by -->
              <span class="meta">Posted by
                <a href="#">{{object.author}}</a>
                on , {{object.datePosted | date:"d M Y"}}
                {% if object.author == user %}
                  | <a style="color:#cffcfc" href="{% url 'blog_edit' object.id %}">Edit</a>
                  | <a style="color:#f66f6f" href="{% url 'blog_delete' object.id %}">Delete</a>
                {% endif %}
              </span>
            </div>
            <!--done-->
          </div>
        </div>
      </div>
    </header>
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{object.content | markdown | safe }}
      </div>
    </div>
  </div>
</article>

<hr>

{% include "blog/endFooter.html" %}
{% endblock content %}
