
{% if form.errors %}
    <div>
      <div class="container-fluid">
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-info alert-dismissible fade show">
                    <strong>{{ error|escape }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show">
                <strong>{{ error|escape }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <hr>
      <br>
    </div> 
{% endif %}

{% if messages %}
  <div>
    <div class="container-fluid">
      {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show">
            <strong>{{ message|escape }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      {% endfor %}
      <br>
    </div> 
  </div>
{% endif %}
