{% extends 'blog/base.html' %}
{% load static %}
{% load markdown_extra %}
{% load thumbnail %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/editor.css' %}">
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock style %}

{% block content %}
{% include "blog/nav.html" %}
<!-- Page Header -->
{% if object.image %}
{% thumbnail object.image "1080x540" as bg %}
  <header class="masthead" style="background-image: url('{{bg.url}}')">
  {% endthumbnail %}
{% else %}
  <header class="masthead">
{% endif %}
<div class="container">
  <div class="overlay"></div>
    <div class="row">
      <div class="col-lg-10 col-md-auto mx-auto">
        <!--start-->
        <div class="post-heading">
          <!-- Title -->
          <h1>
            <p class="m-0">
              <span class="title">
                {{object.title}}
              </span>
            </p>
          </h1>
          <hr>
          <!-- Sub Heading -->
          <h3 class="subheading">
            <p>
              <span class="description">
                {{object.description}}
              </span>
            </p>
          </h3>
          <!-- Posted by -->
          <span class="author font-italic rounded p-1">Posted by
            <a href="{% url 'user_profile' object.author %}">
              <u>{{object.author}}</u>
            </a>
            , {{object.datePosted | date:"d M Y"}}
          </span>
          <hr>
          {% for tags in object.tags.all %}
            <span class="rounded bg-dark p-1 m-1" style="font-family: Lato;">
              #{{tags}}
            </span>
          {% endfor %}

          {% if object.author == user %}
            <p>
              <span>
                <a href="{% url 'blog_edit' object.id %}" class="btn btn-info">Edit</a> ||
                <a href="{% url 'blog_delete' object.id %}" class="btn btn-danger">Delete</a>
              </span>
            </p>
          {% endif %}
        </div>
        <!--done-->
      </div>
    </div>
  </div>
</header>
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{object.content | markdown | safe }}
      </div>
    </div>
  </div>
</article>

<hr>

{% include "blog/footer/recentPostFooter.html" %}
{% include "blog/footer/endFooter.html" %}

{% endblock content %}
