{% extends 'blog/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block scriptsrc %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://unpkg.com/marked@0.3.6"></script>
<script src="https://unpkg.com/lodash@4.16.0"></script>
{% endblock scriptsrc %}

{% block style %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/editor.css' %}">
{% endblock style %}


{% block content %}

{% include "blog/nav.html" %}
<div class="container-fluid">
  <br><br><br>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group floating-label-form-group controls">
    <b> Image:</b>
    {% render_field form.image placeholder="Image" class="form-control" %}
    </div>
    <br>
    <div class="form-group floating-label-form-group controls">
      <p><b>Title:</b></p>
      {% render_field form.title placeholder="Title" class="form-control" maxlength="500" %}
    </div>
    <br>
    <div class="form-group floating-label-form-group controls">
      <p><b>Description:</b></p>
      {% render_field form.description placeholder="Description" class="form-control" cols="30" rows="5" %}
    </div>
    <br>
    <div class="form-group floating-label-form-group controls">
      <div id="editor">
        <p><b>Content:</b></p>
        <button id="hide" class="btn btn-primary m-1" type="button" value="Hide">Hide Output</button>
        <button id="show" class="btn btn-primary m-1" type="button" value="Show">Show Output</button>
        <br>
        <br>
        {{ form.content | attr:"placeholder:Markdown Content" | attr:"rows:100%" | attr:"@input:update" | attr:"style:font-family: 'Crimson Text', serif;border-right: 1px solid #c7c7c7" | attr:"v-html::compiledMarkdown"}}
        <div id="content-output" v-html="compiledMarkdown"></div>
        </div>
      </div>
      <br>
    </div>
    <br>
    <input class="btn btn-primary m-3" type="submit" value="submit">
  </form>
</div>
<div class="p-5 m-2"></div>
{% endblock content %}

{% block scripts %}

<script>
  // live markdown output
  new Vue({
    el: "#editor",
    data: {
      input: "> Markdown output will get shown here"
    },
    computed: {
      compiledMarkdown: function() {
        return marked(this.input, { sanitize: true });
      }
    },
    methods: {
      update: _.debounce(function(e) {
        this.input = e.target.value;
      }, 100)
    }
  });
</script>

<script>
  // change nav bar color
  navLink = document.getElementsByClassName('nav-link');
  navBrand = document.getElementsByClassName('navbar-brand');
  for (i=0; i < navLink.length; i++){
    navLink[i].style.color = 'black'
  }
  for (i=0; i < navBrand.length; i++){
    navBrand[i].style.color = 'black'
  }

  document.getElementById('mainNav').style.backgroundColor = 'rgba(255,250,250,0.2)'
</script>

<script>
  // (show / hide) markdown output
  $(document).ready(function(){
    $("#hide").click(function(){
      $("#content-output").hide();
      $("#id_content").css({"width":"100%","border-right":"0px"});
    })
    $("#show").click(function(){
      console.log("show other")
      $("#content-output").show();
      $("#id_content").css({"width":"50%","border-right": "1px solid #c7c7c7"});
    });
  });
</script>
{% endblock scripts %}
