{% extends "blog/base.html" %}
{% load static %}

{% block content %}

{% include "blog/nav.html" %}
<br><br><hr>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto p-5">
      <h1>Delete Account:</h1>
      <br>
      <h3>
        WARNING:
        <hr>
        From this action you will permenantly remove all
        your data related to your account !
      </h3>
      <form action="" method="post">
          {% csrf_token %}
        <p style="color: rgba(197, 25, 25, 0.705);">
          <b>
            Are you shure you want to delete your Account ?
          </b>
        </p>
        <input class="btn btn-danger" type="submit" value="Yes, Delete">
        <a class="btn btn-primary" href="{% url 'user_profile' user.username %}">Go Back</a>
      </form>
    </div>
    <hr>
  </div>
  <br>
  <hr>
  {% include "blog/footer/endFooter.html" %}
</div>

{% block script %}
<script>
  navLink = document.getElementsByClassName('nav-link');
  navBrand = document.getElementsByClassName('navbar-brand');
  for (i=0; i < navLink.length; i++){
    navLink[i].style.color = 'black'
  }

  for (i=0; i < navBrand.length; i++){
    navBrand[i].style.color = 'black'
  }

  document.getElementById('mainNav').style.backgroundColor = 'rgba(255,250,250,0.2)'
</script>
{% endblock script %}


{% endblock content %}