DJANGO_ALLOWED_HOST=127.0.0.1,0.0.0.0
DJANGO_SECRET_KEY=secret
DJANGO_DEBUG_MODE=True

# -- you can define postgres if you want by uncommenting below given values

# DATABASE=postgres
# DATABASE_ENGINE=django.db.backends.postgresql
# DATABASE_PORT=5432

# POSTGRES_HOSTNAME=127.0.0.1
# POSTGRES_USER=noobi
# POSTGRES_PASSWORD=password
# POSTGRES_DB=blog
