DJANGO_ALLOWED_HOST=127.0.0.1,0.0.0.0,backend,*
DJANGO_SECRET_KEY=secret
DJANGO_DEBUG_MODE=True

DJANGO_ADMIN_USERNAME=admin
DJNGO_ADMIN_EMAIL=admin@admin.com
DJNGO_ADMIN_PASSWORD=admin

DATABASE=postgres
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_PORT=5432

POSTGRES_HOSTNAME=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=blog
