django
django_extensions
markdown
psycopg2-binary
django-environ
pillow
django-widget-tweaks
sorl-thumbnail
django-taggit
bleach
requests
asyncio
aiohttp
gunicorn
tzdata
boto3
django-storages
python-magic